.view-header {
    display: flex;
    height: 422rpx;
    background: $nav_color;
    color: $font_init_color;
    padding: 0 5px;
}

.view-footer {
    padding-bottom: 30px;
    padding-top: 25px;
    // position: absolute;
    // bottom: 0;
    // margin: 0 auto;
    // left: 0;
    // right: 0;
}

.header-section,
.header-section__self {
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    flex-direction: column;
    width: 33.33%;
    box-sizing: border-box;
    padding-bottom: 18px;
    overflow: hidden;
}

.header-section__self {
    width: 100%;
}

.header_hd {
    padding-top: 44px;
    position: relative;
    @include clearfix();
    .boxF,
    .boxS,
    .boxT,
    .overlay {
        width: 68px;
        height: 80px;
        overflow: hidden;
        box-shadow: 0rpx 20rpx 20rpx #f87300;
    }
    .boxF,
    .boxS {
        visibility: hidden;
    }
    .boxF {
        transform: rotate(120deg);
        -webkit-transform: rotate(120deg);
    }
    .boxS {
        transform: rotate(-60deg);
        -webkit-transform: rotate(-60deg);
    }
    .boxT {
        transform: rotate(-60deg);
        background: no-repeat 50% center;
        background-size: 125% auto;
        -webkit-transform: rotate(-60deg);
        visibility: visible;
    }
    .avatar {
        // background: url(test.jpeg);
        background-color: #ccc;
        background-size: 100% 100%;
        position: relative;
    }
    .overlay {
        background: url(star-large.png);
        background-size: 100% 100%;
        // overflow: hidden;
    }
    .user {
        max-width: 160px;
    }
}

.header-section:nth-child(2n),
.header-section__self {
    .header_hd {
        padding-top: 28px;
        padding-bottom: 8px;
    }
    .boxF,
    .boxS,
    .boxT {
        width: 78px;
        height: 90px;
        overflow: hidden;
        box-shadow: 0rpx 20rpx 20rpx #f87300;
    }
    .overlay {
        background: url(star-large.png);
        background-size: 100% 100%;
        width: 78px;
        height: 90px;
        // overflow: hidden;
    }
}


/*评奖*/

.ranking {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 40px;
    height: 40px;
}

.ranking_1 {
    background: url(fir.png);
    background-size: 100% 100%;
    bottom: -10px;
}

.ranking_0 {
    background: url(sec.png);
    background-size: 100% 100%;
    bottom: -16px;
}

.ranking_2 {
    background: url(thir.png);
    background-size: 100% 100%;
    bottom: -16px;
}


/*End 评奖*/

.header_bd {
    line-height: 2;
    text-align: center;
    overflow: hidden;
    padding-top: 10px;
    width: 100%;
    .user {
        font-weight: 600;
        box-sizing: border-box;
        padding: 5px;
        @include text_ellips();
    }
    .counts {
        font-size: .999em;
        color: #3e3a39;
    }
    .line {
        height: 8rpx;
        width: 26rpx;
        background: $font_init_color;
        margin: 0 auto;
    }
}


/*End .view-header*/

.view-content {
    padding: 0 15px 0 20px;
    color: $font_init_color;
    flex-grow: 1;
    .content_logo {
        display: flex;
        justify-content: center;
        margin: 20px 0;
        image {
            width: 157px;
            height: 30px;
        }
    }
}

.content_lists {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    .lists_hd {
        width: 40rpx;
        color: #3e3a39;
    }
    .lists_bd {
        font-weight: 500;
        flex-grow: 1;
        image {
            vertical-align: middle;
            margin: 0 15px;
            width: 40px;
            min-width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1rpx solid $border-color;
            background-color: #c7caca;
        }
    }
    .lists_ft {
        font-weight: 600;
    }
}

.content_lists:last-child {
    padding-bottom: 0;
}

.share_bar {
    margin: 15px;
    button {
        background: $nav_color;
    }
}

.adds_bar {
    width: 690rpx;
    height: 200rpx;
    margin: 30rpx auto 0;
    image {
        width: 100%;
        height: 100%;
    }
}

.button-hover_act {
    background: #a05b05;
}